    <!--Landing-->
    <div class="max-w-7xl mx-auto grid grid-cols-5 py-20">
        <div class="col-span-2">
            <img src="static\images\petani_3d.png" alt="" class="h-[450px] w-auto">
        </div>
        <div class="col-span-3 py-8 grid-rows-5 space-y-8">
            <div class="font-bold space-y-4 row-span-2">
                <div class="flex items-center space-x-4">
                    <div class="text-5xl">Cornify</div> 
                    <img src="static\images\logo_img.png" alt="" class="w-12 h-16">
                </div>
                <div class="text-xl text-[#3E8F5C]">Solusi Pintar untuk Petani Jagung</div>
            </div>
            <div class="row-span-2 pb-20">
                Pantau Kesehatan Tanaman, Deteksi Penyakit dan Tingkatkan 
                Hasil Panen anda dengan Teknologi Canggih
            </div>
            <div>
                <a href="#deteksi-penyakit">
                    <button class="w-48 h-12 bg-[#3E8F5C] shadow-md text-white rounded-lg hover:bg-[#2E7047] hover:scale-105 hover:shadow-lg transition-transform duration-300 ease-in-out">
                        Mulai Sekarang
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!--Deteksi Jagung-->
    <div class="max-w-7xl mx-auto space-y-12 mt-12">
        <div class="flex space-x-12 items-center">
            <div class="w-2 h-16 bg-[#FFCB39] rounded-lg"></div>
            <div class="grid-rows-2">
                <div class="text-xl font-semibold">
                    Macam Penyakit
                </div>
                <div>
                    Apa saja penyakit pada daun tanaman jagung yang dapat dideteksi?
                </div>
            </div>
        </div>

        <div class="max-w-5xl mx-auto grid grid-cols-3 gap-8">
            <!-- Kartu 1 -->
            <div class="h-96 bg-[#3E8F5C] shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out rounded-lg overflow-hidden group">
                <!-- Bagian Gambar -->
                <div class="h-full group-hover:h-1/2 transition-all duration-300 ease-in-out relative">
                    <img src="static/images/hawar.jpg" alt="" class="w-full h-full object-cover group-hover:brightness-75 transition duration-300 ease-in-out">
                </div>
                <!-- Bagian Informasi -->
                <div class="h-0 group-hover:h-1/2 text-white p-4 transition-all duration-300 ease-in-out">
                    <div class="font-bold text-lg">Blight (Hawar)</div>
                    <p class="text-sm mt-2">
                    Ditandai dengan bercak kuning atau coklat pada daun yang dapat menyebabkan layu.
                    </p>
                </div>
            </div>

            <!-- Kartu 2 -->
            <div class="h-96 bg-[#3E8F5C] shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out rounded-lg overflow-hidden group">
                <div class="h-full group-hover:h-1/2 transition-all duration-300 ease-in-out relative">
                    <img src="static/images/karat.jpg" alt="" class="w-full h-full object-cover group-hover:brightness-75 transition duration-300 ease-in-out">
                </div>
                <div class="h-0 group-hover:h-1/2 text-white p-4 transition-all duration-300 ease-in-out">
                    <div class="font-bold text-lg">Common Rust (Karat Daun)</div>
                    <p class="text-sm mt-2">
                    Ditandai dengan bintik merah atau coklat kecil pada daun, sering kali memanjang seiring waktu.
                    </p>
                </div>
            </div>

            <!-- Kartu 3 -->
            <div class="h-96 bg-[#3E8F5C] shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out rounded-lg overflow-hidden group">
                <div class="h-full group-hover:h-1/2 transition-all duration-300 ease-in-out relative">
                    <img src="static/images/daun_abu.png" alt="" class="w-full h-full object-cover group-hover:brightness-75 transition duration-300 ease-in-out">
                </div>
                <div class="h-0 group-hover:h-1/2 text-white p-4 transition-all duration-300 ease-in-out">
                    <div class="font-bold text-lg">Gray Leaf (Bercak Daun Abu-Abu)</div>
                    <p class="text-sm mt-2">
                    Ditandai dengan bercak abu-abu memanjang di daun, sering kali menyebabkan kerusakan besar.
                    </p>
                </div>
            </div>
        </div>

        <div id="deteksi-penyakit" class="flex space-x-12 items-center pt-16">
            <div class="w-2 h-16 bg-[#FFCB39] rounded-lg"></div>
            <div class="grid-rows-2">
                <div class="text-xl font-semibold">
                    Deteksi Penyakit
                </div>
                <div>
                    Periksa penyakit tanaman jagung Anda!
                </div>
            </div>
        </div>

        <div class="relative shadow-xl rounded-lg">
            <div class="absolute inset-0 bg-gradient-to-r from-[#47AF64] to-transparent via-transparent via-30% to-90% [background-size:200%] h-full rounded-lg"></div>
            <img src="static/images/deteksi_jagung.png" alt="" class="w-full">    
        </div>

        <div class="flex justify-center mt-8">
            <a href="{{ url_for('detection') }}">
                <button class="w-48 h-12 bg-[#FFCB39] text-white rounded-lg hover:bg-[#FFB030] hover:scale-105 hover:shadow-lg transition-transform duration-300 ease-in-out">
                    Cek Sekarang!
                </button>    
            </a>
        </div>

<!--Kata Mereka-->
        <div class="max-w-7xl mx-auto text-center space-y-12 py-28">
            <!-- Judul -->
            <div class="flex justify-center text-3xl font-bold mb-8 gap-2">
                Kata
                <div class="text-[#3E8F5C]">Mereka</div> 
            </div>

            <!-- Grid Review -->
            <div class="grid grid-cols-3 gap-8 px-8">
                <!-- Review 1 -->
                <div class="h-auto bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <p class="text-sm text-gray-600 italic mb-4">
                        "Aplikasi ini sangat membantu saya dalam mendeteksi penyakit tanaman jagung. Sangat akurat dan mudah digunakan. Terima kasih Cornify!"
                    </p>
                    <div class="font-bold text-[#3E8F5C]">- Budi Santoso</div>
                </div>

                <!-- Review 2 -->
                <div class="h-auto bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <p class="text-sm text-gray-600 italic mb-4">
                        "Teknologi modern yang ditawarkan Cornify memberikan dampak positif pada hasil panen kami. Solusi ini luar biasa!"
                    </p>
                    <div class="font-bold text-[#3E8F5C]">- Siti Aisyah</div>
                </div>

                <!-- Review 3 -->
                <div class="h-auto bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <p class="text-sm text-gray-600 italic mb-4">
                        "Dulu saya sering kesulitan mendeteksi penyakit tanaman. Dengan aplikasi ini, segalanya menjadi lebih mudah."
                    </p>
                    <div class="font-bold text-[#3E8F5C]">- Ahmad Fadli</div>
                </div>

                <!-- Review 4 (Baris kedua) -->
                <div class="col-span-2 h-auto bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <p class="text-sm text-gray-600 italic mb-4">
                        "Cornify benar-benar inovatif. Solusi ini membantu meningkatkan efisiensi kerja di ladang jagung kami. Sangat direkomendasikan!"
                    </p>
                    <div class="font-bold text-[#3E8F5C]">- Nurul Hidayah</div>
                </div>

                <!-- Review 5 (Baris kedua) -->
                <div class="col-span-1 h-auto bg-white shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <p class="text-sm text-gray-600 italic mb-4">
                        "Saya sangat puas dengan fitur pendeteksian penyakit yang ditawarkan. Sangat membantu untuk mengurangi risiko kerugian."
                    </p>
                    <div class="font-bold text-[#3E8F5C]">- Rudi Hartono</div>
                </div>
            </div>

            <!-- Deskripsi Tambahan -->
            <div class="px-36 text-gray-700">
                Cornify telah dipercaya oleh banyak petani untuk meningkatkan produktivitas dan efisiensi pertanian. Kami berkomitmen untuk terus memberikan inovasi terbaik.
            </div>
        </div>
    </div>

    <footer class="bg-gray-900 text-white">
        <div class="max-w-7xl mx-auto py-16 px-4 grid grid-cols-1 md:grid-cols-3 gap-12">
            <!-- Bagian Deskripsi -->
            <div class="space-y-4">
                <img src="static/images/logo.png" alt="Cornify Logo" class="w-24 h-24">
                <p class="text-gray-400 leading-relaxed">
                    Merupakan aplikasi Web untuk membantu petani dan masyarakat yang ingin membudidayakan jagung. Kami memprioritaskan fitur yang mudah digunakan oleh siapapun dan dimanapun.
                </p>
            </div>

            <!-- Bagian Halaman -->
            <div class="space-y-8">
                <h2 class="font-semibold text-lg text-[#FFCB39]">Halaman</h2>
                <ul class="space-y-4">
                    <li>
                        <a href="{{ url_for('detection')}}" class="hover:text-[#47AF64] transition-colors duration-300">Deteksi Penyakit</a>
                    </li>
                    <!-- Tambahkan link halaman lain -->
                </ul>
            </div>

            <!-- Bagian Hubungi Kami -->
            <div class="space-y-8">
                <h2 class="font-semibold text-lg text-[#FFCB39]">Hubungi Kami</h2>
                <ul class="space-y-4 text-gray-400">
                    <li class="flex items-center space-x-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[#47AF64]" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 2C6.486 2 2 6.486 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10c0-5.514-4.486-10-10-10zm1 17h-2v-2h2v2zm1.071-7.757l-.949.316v4.441h-2v-5.784l2.051-.684c.615-.204.949-.857.949-1.483 0-1.09-1.326-1.463-2-1.033-.235.15-.512.369-.801.662l-1.339-1.49c.455-.41.863-.699 1.286-.937 1.758-1.01 4.804.078 4.804 2.798 0 1.113-.684 2.066-1.951 2.536z"/>
                        </svg>
                        <span>Jl. Menuju Harapan, Yogyakarta, New Delhi, Brazil</span>
                    </li>
                    <li class="flex items-center space-x-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[#47AF64]" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M3 3h18v18h-18v-18zm5 4h8v2h-8v-2zm0 4h8v2h-8v-2zm0 4h8v2h-8v-2z"/>
                        </svg>
                        <span>Telepon: +62-888-8888-888</span>
                    </li>
                    <li class="flex items-center space-x-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[#47AF64]" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M2.013 5.575a.723.723 0 0 0-.013.108v8.633c0 .057.004.112.012.167l6.856-4.477-6.855-4.431zm8.19 5.346-6.999 4.576c.156.121.343.209.55.246.177.031.382.047.603.047h11.391c.221 0 .426-.016.603-.047.207-.037.394-.125.55-.246l-6.999-4.576-1.575 1.019c-.203.133-.469.133-.671 0l-1.575-1.019zm11.797-4.943-6.856 4.476 6.856 4.431c.008-.056.012-.111.012-.167v-8.633c0-.036-.005-.072-.013-.108zm-7.175 5.271 7.105-4.644c-.156-.137-.348-.244-.564-.307-.159-.048-.348-.081-.553-.081h-13.391c-.205 0-.394.033-.553.081-.216.063-.408.17-.564.307l7.105 4.644 1.642-1.064c.405-.262.94-.262 1.345 0l1.642 1.064z"/>
                        </svg>
                        <span>Email: <a href="mailto:help@cornify.com" class="hover:text-[#47AF64] transition-colors duration-300">help@cornify.com</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Bagian Copyright -->
        <div class="bg-[#47AF64] h-12 flex items-center justify-center mt-12">
            <p class="text-white font-bold">© 2024 Alif Naywa</p>
        </div>
    </footer>